@model IEnumerable<MusicApp.Models.ArtistBaseViewModel>

@{
    ViewBag.Title = "Artist List";
}

<h2>@ViewBag.Title</h2>
<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>
