@{
    ViewBag.Title = "About";
    ViewBag.Message = "Welcome to Find My Concert";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        At FindMyConcert, we believe that music is meant to be shared and celebrated.
        Our platform connects concert enthusiasts, allowing them to discover, share,
        and experience live music events together.
        Whether you’re a passionate concert-goer or a casual listener, FindMyConcert offers
        a vibrant community where you can explore upcoming shows, connect with fellow fans,
        and share your concert experiences.

        With a user-friendly interface and powerful features, FindMyConcert makes it easy
        to find concerts in your area, follow your favorite artists, and create unforgettable
        memories with friends. Join us in transforming the way we experience live music—together!
    </p>
</main>