@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "If you want to contact us...";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>Author: Minji Kim</p>
    <address>
        1750 Finch Ave East<br />
        Toronto, ON, Canada<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">support_findmyconcert@email.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing_findmyconcert@email.com</a>
    </address>
</main>