@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Music App</h1>
        <p class="lead">The purpose of this web app is to share the music and concert information with others.</p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>Create and apply the template for projectsand.</p>
            <p>Use the MVC pattern design in ASP.NET.</p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>Write a paragraph discussing some of the problems you ran in to while completing the assignment.</p>
        </section>
    </div>
</main>